body {
    background-image: url("../images/hogwartsbg.jpg");
    background-repeat: default;
    color: white;
}
.header{
    margin: 0 auto;
}

image {
    padding: 10px;
}

#lives, #incorrect {
    color: lightblue;
}

p {
    font-size: 18px;
}

.text {
    text-align: right;
}

.footer {
    margin-top: 200px;
}

audio {
    opacity: 0.75;
}