/* h1 {
    color: white;
    need to get a harry potter font
}

body {
    background-color: black;
    color: white;
    font-size: 20px;
    (need to get a harry potter font)
}

.box {
    border: 3px white dotted;
}

p {
    color: white;
} */

body {
    background-image: url("../images/hogwartsbg.jpg");
    background-repeat: default;
    color: white;
}
.header{
    margin: 0 auto;
}

image {
    padding: 10px;
}

#lives, #incorrect {
    color: lightblue;
}

p {
    font-size: 18px;
}
